<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="icon" href="../img/nlogo.jpg">
<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-route.js"></script>
<!-- <script src="../javaScript/Pages.js"></script>
 --><script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">

<link rel="stylesheet" href="../css/mdb.min.css">
<link rel="stylesheet" href="../css/mdb.css">

<link rel="stylesheet" href="../css/w3.css">
<link rel="stylesheet" href="../css/fa_css/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="w3-top" id="header">
		<nav class="navbar navbar-inverse"
			style="box-shadow:10px 10px 5px 20px #3333cc inset;">

		<div class="container" style="padding-top: 30px;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="w3-bar w3-white w3-card-2">
				<a
					class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
					href="javascript:void(0)" onclick="myFunction()"
					title="Toggle Navigation Menu"> <i class="fa fa-bars"></i></a>
				<!-- header -->
				<img class="animated bounce infinite" src="../img/nletter.jpg"
					width="36px" height="36px">

				<div class="w3-bar-item" id="nviera">VIERA</div>
				<a href="../views/Nviera.jsp"
					class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border"> <span><i
						class="fa fa-home fa-fw" aria-hidden="true"></i></span><span>HOME</span></a>
				<a href="../views/About.jsp" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border">ABOUT US</a>
			    <a href="../views/Products.jsp"	class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border">PRODUCTS</a>
				<a href="../views/Services.jsp" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border">SERVICES</a>
				<a href="Careers.jsp"
					class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border">CAREERS</a>
				<a href="../views/Login.jsp"
					class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border"><span><i
						class="fa fa-sign-in fa-fw" aria-hidden="true"></i></span><span>SIGN
						IN</span></a>
				<a href="../views/Registration.jsp"
					class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="top-border"><span><i
						class="fa fa-user-plus" aria-hidden="true"></i></span><span>SIGN
						UP</span></a>
						
			</div>
		</div>
		</nav>
		<div style="padding-top: 20px;"></div>
</body>
</html>